
@{
    ViewData["Title"] = "About";
}
@{
 Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>About</h2>
<br />
<br />
<h3>Open Since 1983 and Still Going Strong!</h3>
<h3>Find out about our sports and members</h3>
<h2>Remember To Keep FIT!!</h2>
<div class="card-body text-center">
    <img class="card-img-top" src="~/images/glove.jpg" height="400" width="180" />
</div>

